<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div id="menu" style=" font-size: 2em;">
		<a href='/settings' style="color: black"><div class="menuIcons">Settings</div></a>
		<a href='/home' style="color: black"><div class="menuIcons">Home</div></a>
	</div>
	<div id="feedPoster" style="margin: 0 auto">
	<div style="width: 640px; padding: 30px 30px 35px 30px; border: 2px solid #1f47da; background-color: lightsteelblue;">
			<form  method="post" action='/home/posting'">
				<input type="text" name="ptitle" placeholder="Title..." style="font-size: 1.5em; position: relative; width: 550px;">
				<textarea name="post" id="postBox" maxlength="150" placeholder="Type your post here... " required></textarea>
	 			<button type=submit id="signin">Post</button>
			</form>
		</div>
		
		<h1 style="position: relative; top: 20px; right: 220px; text-shadow: 1px 1px white">Post Feed:</h1>

		<div id="userPosts">
			<% (Post.where(userName: @user.fname + " "+ @user.lname)).reverse.each do |x| %>
				<div id= <%= (x.id).to_s %> style="position: relative; border:1px solid #1f47da; background-color: lightsteelblue; padding: 10px; ">
					<a href="/deleting?id=<%= x.id %>"><p id= "delete" style="float:right;">-DELETE-</p></a>
			  		<h2 style=" text-shadow: 1px 1px white"><%= x.title %></h2>
			  		<h3 style=""><%= x.userName %></h3>
			  		<p style="width: 600px;"><%= x.text %></p>
			  		<p style=""><%= x.posted_at %></p>
			  	</div>
			<% end %>
	</div>	</div>



</body>
</html>