<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div id="menu" style=" font-size: 2em; position: relative; left: 360px">
		<a href='/home' style="color: black;"><div class="menuIcons">Home</div></a>
		<a href='/sign-out' style="color: black"><div class="menuIcons">Log Out</div></a>
		
	</div>
	<div id="feedPoster" style="margin: 0 auto">
	<h1 style=" text-shadow: 1px 1px blue; font-size: 2.5em;"><%= @user1.fname %> <%= @user1.lname %></h1>
	<label><strong>Location: </strong></label><p style="display: inline-block;"><%= @user1.location %>  </p>
	<label><strong>Birthday: </strong></label><p style="display: inline-block;"><%= @user1.birthday %></p><br/>
	<label><strong>Bio: </strong></label><p style="display: inline-block;"><%= @user1.bio %></p>
	<div style="width: 640px; padding: 30px 30px 35px 30px; border: 3px solid black; background-color: thistle;">
			<form  method="post" action='/home/posting?id=<%= @user1.id %>'>
				<input type="text" name="ptitle" placeholder="Title..." style="font-size: 1.5em; position: relative; width: 550px;">
				<textarea name="post" id="postBox" maxlength="150" placeholder="Type your post here... " required></textarea>
	 			<button type=submit id="signin">Post</button>
			</form>
		</div>
		
		<h1 style="position: relative; top: 20px; right: 270px; text-shadow: 1px 1px blue">Post Feed:</h1>

		<div id="userPosts">
			<% (Post.where(userName: @user1.fname + " "+ @user1.lname)).reverse.each do |x| %>
				<div id= <%= (x.id).to_s %> style="position: relative; border: 1px solid black; background-color: thistle; padding: 10px; ">
					<a href="/deleting?id=<%= x.id %>"><p id= "delete" style="float:right;">-DELETE-</p></a>
			  		<h2 style=" color: black; text-shadow: 1px 1px white"><%= x.title %></h2>
			  		<h3 style=""><%= x.userName %></h3>
			  		<p style="width: 600px;"><%= x.text %></p>
			  		<p style=""><%= x.posted_at %></p>
			  	</div>
			<% end %>
	</div>	</div>



</body>
</html>